.nopadding{
padding: 0px 0px 0px 0px;
}
.nomargin{
padding: 0px 0px 0px 0px;
color:red;
}

.spadding{
padding: 1px 3px 1px 1px;
}

.smargin{
padding: 0px 10px 0px 0px;
color:red;
}
.w3-myfont {
  font-family: "Comic Sans MS", cursive, sans-serif;
  
}
.w3-margin-right2{
	margin-right: 20px;
}

.w3-badge {height:13px;width:13px;padding:0}

.w3-content2{width:100%;margin: auto;max-height:400px;}
.w3-myback{
background-color: #ffdee0;
background-image: url("https://www.transparenttextures.com/patterns/perforated-white-leather.png");
}

